@use "sass:math";

.wrapper {
  display: flex;
  justify-content: center;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.table {
  min-height: 20rem;
  margin: 3rem 0 6rem;
  position: relative;

  .players {
    background-color: #eee;
    border-radius: 50%;
    height: 20rem;
    position: relative;
    width: 20rem;

    .player {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;

      $rot: 90;
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          left: math.percentage(math.div(math.cos($rot * 1deg), 2) + 0.5);
          top: math.percentage(math.div(math.sin($rot * 1deg), 2) + 0.5);
        }
        $rot: $rot + 60;
      }
    }

    .playerInt {
      background-color: #ddd;
      height: 5rem;
      position: absolute;
      width: 5rem;
    }
  }

  .question {
    height: 60%;
    left: 25%;
    padding: 0;
    position: absolute;
    top: 20%;
    width: 50%;

    > div,
    > div > div {
      height: 100%;
      width: 100%;
      position: relative;
    }

    $rot: 90;
    @for $i from 1 through 6 {
      .playerTarget:nth-of-type(#{$i}) {
        left: math.percentage(math.div(math.cos($rot * 1deg), 2) + 0.5);
        position: absolute;
        top: math.percentage(math.div(math.sin($rot * 1deg), 2) + 0.5);
      }
      $rot: $rot + 60;
    }
  }
}

.hand {
  min-height: 10rem;

  .cardarea {
    display: flex;

    > * {
      background-color: #ddd;
      display: block;
      height: 5rem;
      margin: 0 0.5rem;
      width: 3.5rem;
    }
  }
}

.cardSelector {
  width: 12em;
}
