@use "sass:math";
// body font
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
// suits
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap&text=%E2%99%A3%E2%99%A6%E2%99%A5%E2%99%A0%E2%98%85");
// ranks (B, R used for jokers)
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap&text=0123456789JQKABR");

html {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.2;
}

body {
  margin: 0;
  --gray-0: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-900: #111827;
  --shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button {
  background: var(--gray-200);
  border: none;
  color: inherit;
  font: inherit;
  height: 1.5em;
  padding: 0.1em 0.5em 0;

  &:hover {
    background: var(--gray-300);
  }

  &:disabled {
    background: var(--gray-200);
    color: var(--gray-500);

    &:hover {
      background: var(--gray-200);
    }
  }
}

$rot: 90;
@for $i from 0 through 5 {
  .rot-#{$i} {
    left: math.percentage(math.div(math.cos($rot * 1deg), 2) + 0.5);
    top: math.percentage(math.div(math.sin($rot * 1deg), 2) + 0.5);
  }
  $rot: $rot + 60;
}

// global layout

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    height: 1.5rem;
    font: inherit;
    border: 1px solid var(--gray-500);
    padding: 0.25rem;
    margin: 0 0.5rem;
    background: transparent;
    width: 8rem;
  }

  button {
    height: 2rem;
  }
}

.room {
  display: grid;
  grid-template: 1fr 10rem / 15rem 1fr;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: min-content;
}

.toggles {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    margin: 0.5rem 0;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
  }

  &.lone {
    grid-row: 1 / 3;
  }
}

.users {
  button {
    margin-left: 0.5rem;
  }
}

.teams {
  display: flex;

  .team {
    width: 50%;
  }

  .score {
    font-size: 3rem;
    text-align: center;
  }
}

.log {
  overflow-y: scroll;
}

@media screen and (max-width: 750px) {
  .room {
    display: flex;
  }

  .toggles {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;

    &.active {
      left: 17rem;
    }
  }

  .info,
  .log {
    background: var(--gray-0);
    box-shadow: var(--shadow);
    bottom: 0;
    display: none;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 15rem;

    &.active {
      display: flex;
    }
  }
}

// table

.table {
  margin: 2rem 3rem;
  position: relative;
}

.players {
  background-color: var(--gray-100);
  border-radius: 50%;
  height: 20rem;
  position: relative;
  width: 23rem;
}

.player {
  position: absolute;

  &.shake {
    animation: shake 1s;
  }
}

@keyframes shake {
  30% {
    transform: translateX(-1rem);
  }

  60% {
    transform: translateX(1rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  90% {
    transform: translateX(0.3rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.playerInt {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: -4.5rem;
  padding: 0.5rem;
  position: absolute;
  top: -2rem;
  width: 8rem;

  &.active {
    background: var(--gray-50);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.15));
  }
}

.declare {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  button {
    background: var(--gray-300);
    left: calc(50% - 2rem);
    pointer-events: auto;
    position: absolute;
    top: calc(50% + 6rem);

    &:disabled {
      background: var(--gray-200);
      color: var(--gray-500);
    }

    &:hover {
      background: var(--gray-200);
    }
  }
}

.question {
  height: 70%;
  left: 20%;
  padding: 0;
  position: absolute;
  top: 15%;
  width: 60%;

  > div,
  > div > div {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .playerTarget {
    position: absolute;

    // .playerTargetInt {
    //   background: #aaa;
    //   height: 1em;
    //   left: -0.5rem;
    //   position: relative;
    //   width: 1rem;
    //   top: -0.5rem;
    //   z-index: 2;
    // }
  }

  .label {
    background: var(--gray-100);
    padding: 0.1rem;
  }
}

$roti: 90;
$rotj: 90;
@for $i from 0 through 5 {
  @for $j from 0 through 5 {
    @keyframes rot-#{$i}-#{$j} {
      0% {
        left: math.percentage(math.div(math.cos($roti * 1deg), 2) + 0.5);
        top: math.percentage(math.div(math.sin($roti * 1deg), 2) + 0.5);
        opacity: 0%;
      }

      10% {
        left: math.percentage(math.div(math.cos($roti * 1deg), 2) + 0.5);
        top: math.percentage(math.div(math.sin($roti * 1deg), 2) + 0.5);
        opacity: 100%;
      }

      60% {
        left: math.percentage(math.div(math.cos($rotj * 1deg), 2) + 0.5);
        top: math.percentage(math.div(math.sin($rotj * 1deg), 2) + 0.5);
        opacity: 100%;
      }

      90% {
        opacity: 100%;
      }

      100% {
        opacity: 0%;
      }
    }
    $roti: $roti + 60;
  }
  $rotj: $rotj + 60;
}

.cardAnim {
  height: 60%;
  left: 25%;
  padding: 0;
  position: absolute;
  top: 20%;
  width: 50%;

  .cardAnimate {
    animation-duration: 3s;
    height: fit-content;
    position: absolute;
    width: fit-content;
  }

  .cardSpan {
    display: block;
    background: var(--gray-0);
    padding: 0.3rem;
    border: 1px solid var(--gray-200);
    box-shadow: var(--shadow);
    left: -50%;
    position: relative;
    top: -50%;
  }
}

// subtable

.config {
  display: flex;
  flex-direction: row;

  &.disabled {
    pointer-events: none;

    .option {
      background: transparent;
    }

    button {
      background: transparent;
      color: transparent;
    }
  }
}

.option {
  align-items: center;
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.25rem;
  padding: 0.5rem;
  text-align: center;

  .title {
    margin-bottom: 0.5rem;
  }

  button {
    background: var(--gray-300);
    color: var(--gray-600);
    width: 100%;

    &:hover {
      background: var(--gray-50);
      color: var(--gray-900);
    }

    &:disabled {
      background: var(--gray-100);
      color: var(--gray-900);

      &:hover {
        background: var(--gray-100);
      }
    }
  }
}

.action {
  margin: 2rem 0;
  text-align: center;

  > div {
    min-height: 1.5em;
  }

  button {
    margin: 0 0.25rem;
  }
}

.cardArea {
  display: flex;
  left: -1rem;
  position: relative;
}

.declareArea {
  pointer-events: auto;
  position: absolute;

  .declareInner {
    background-color: var(--gray-300);
    display: flex;
    height: 5rem;
    position: relative;
    padding: 0.3rem 2.5rem 0.1rem 0.3rem;
    left: -50%;
    min-width: 1.5rem;
  }

  &.rot-unset {
    left: 50%;
    top: 50%;
  }

  .cardFrame {
    height: 4rem;
    width: 1.5rem;

    .card {
      width: 3rem;
    }
  }
}

.cardFrame {
  background-color: var(--gray-0);
  display: block;
  height: 6rem;
  position: relative;
  width: 2rem;

  .card {
    background-color: var(--gray-0);
    border: 1px solid var(--gray-200);
    box-shadow: var(--shadow);
    content: "";
    display: block;
    position: absolute;
    padding: 0.3rem;
    height: 100%;
    width: 4rem;
    top: 0;
    left: 0;

    .cardSpan {
      width: min-content;
    }
  }
}

.popWrap {
  z-index: 5;
}

.cardSelector {
  align-items: center;
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  padding: 0.25rem;

  .row {
    button {
      background: var(--gray-0);
      font-size: 0.85rem;
      height: 2em;
      padding: 0.2em 0.5em 0.1em;
      margin: 0.2em;
      min-width: 0;
      width: 3.1em;

      &:hover {
        background: var(--gray-200);
      }

      .cardSpan {
        width: 100%;
      }

      &:disabled {
        background: transparent;

        .cardSpan {
          color: var(--gray-400) !important;
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.suitSelector {
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 4rem;
  padding: 0.25rem;
  position: relative;
  top: 0.5rem;
  width: 24rem;
  z-index: 2;

  .suitSpan {
    width: unset;
  }

  button {
    background: var(--gray-0);
    margin: 0.25rem;

    &:hover {
      background: var(--gray-200);
    }

    &:disabled {
      background: transparent;

      .suitSpan {
        color: var(--gray-400) !important;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}

.cardSpan,
.suitSpan {
  display: block;
  text-align: center;

  .rank {
    font-size: 1.1em;
    font-family: "Inter";
  }

  .suit {
    font-family: "Noto Sans JP";
  }
}
