@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap&text=%E2%99%A3%E2%99%A6%E2%99%A5%E2%99%A0%E2%98%85");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap&text=0123456789JQKABR");

html {
  font-family: "Noto Sans JP", "IBM Plex Sans", sans-serif;
  line-height: 1.2;
}

body {
  margin: 0;
}

button {
  background: transparent;
  border: 1px solid black;
  color: inherit;
  font: inherit;
  height: 1.5em;
  margin: 0 0.2em;
  padding: 0 0.3em;
  min-width: 4em;

  &:hover {
    background: #0002;
  }
}

// global layout

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.room {
  display: grid;
  grid-template: 1fr 1fr / 15rem 1fr;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: fit-content;
}

.toggles {
  display: none;
}

@media screen and (max-width: 700px) {
  .room {
    display: flex;
  }

  .toggles {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    &.active {
      left: 90vw;
    }
  }

  .users,
  .log {
    background: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;

    &.active {
      display: block;
    }
  }
}

.table {
  height: 20rem;
  margin: 3rem;
  position: relative;

  .players {
    background-color: #eee;
    border-radius: 50%;
    height: 20rem;
    position: relative;
    width: 20rem;

    .player {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;

      $rot: 90;
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          left: math.percentage(math.div(math.cos($rot * 1deg), 2) + 0.5);
          top: math.percentage(math.div(math.sin($rot * 1deg), 2) + 0.5);
        }
        $rot: $rot + 60;
      }
    }

    .playerInt {
      background-color: #ddd;
      height: fit-content;
      min-height: 3rem;
      padding: 0.5rem;
      position: absolute;
      width: 6rem;
    }
  }

  .question {
    height: 60%;
    left: 25%;
    padding: 0;
    position: absolute;
    top: 20%;
    width: 50%;

    > div,
    > div > div {
      height: 100%;
      width: 100%;
      position: relative;
    }

    $rot: 90;
    @for $i from 1 through 6 {
      .playerTarget:nth-of-type(#{$i}) {
        // background: #aaa;
        height: 1em;
        left: -0.5em;
        position: relative;
        top: -0.5em;
        width: 1em;
        z-index: 2;

        left: math.percentage(math.div(math.cos($rot * 1deg), 2) + 0.45);
        position: absolute;
        top: math.percentage(math.div(math.sin($rot * 1deg), 2) + 0.45);
      }
      $rot: $rot + 60;
    }

    .label {
      background: #eee;
      padding: 0.1rem;
    }
  }
}

.action {
  margin: 1rem 0;
  text-align: center;

  > div {
    min-height: 1.5em;
  }
}

.cardArea {
  display: flex;
  left: -1.5rem;
  position: relative;

  .cardFrame {
    background-color: #fff;
    display: block;
    height: 6rem;
    position: relative;
    width: 2rem;

    .card {
      background-color: #fff;
      border: 1px solid black;
      content: "";
      display: block;
      position: absolute;
      padding: 0.3rem;
      height: 100%;
      width: 4rem;
      top: 0;
      left: 0;
    }
  }
}

.cardSelector {
  background: #fff;
  position: absolute;
  left: -5em;
  top: 100%;
  width: 18em;
  z-index: 2;

  .row {
    button {
      font-size: 0.9rem;
      height: 2em;
      margin: 0.1em;
      min-width: 0;
      width: 3em;

      .cardSpan {
        width: 100%;
      }

      &:disabled {
        background: transparent;

        .cardSpan {
          color: #bbb !important;
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.suitSelector {
  background: #fff;
  height: 6rem;
  position: relative;
  width: 18em;
  z-index: 2;
}

.cardSpan {
  display: block;
  text-align: center;
  width: fit-content;

  .rank {
    font-size: 1.1em;
    font-family: "Inter";
  }

  .suit {
    font-size: 1em;
  }
}
